{% extends 'admin/admin.html.twig' %}

{% block title %}Listing des chauffages!{% endblock %}

{% block body %}

    <p>
        <a class="btn btn-primary" style="text-decoration: none;" href="{{ url('admin.heaters.create') }}">Ajouter un chauffage</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Nombre de biens</th>
                <th style="width: 200px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for heating in heaters %}
                <tr>
                    <td>{{ heating.id }}</td>
                    <td>
                        <a style="text-decoration: none;" href="{{ url('admin.heaters.show', {'slug' : heating.slug, 'heating' : heating.id}) }}">{{ heating.name }}</a>
                    </td>
                    <td>{{ heating.properties.count() }}</td>
                    <td>
                        <div class="d-flex gap-1">
                            <a class="btn btn-primary btn-sm" style="text-decoration: none;" href="{{ url('admin.heaters.edit', {'heating' : heating.id}) }}">Éditer</a>
                            <a class="btn btn-danger btn-sm" style="text-decoration: none;" href="" data-bs-target="#modal{{ heating.id }}" data-bs-toggle="modal">Supprimer</a>
                        </div>
                    </td>
                </tr>
                <div class="modal fade" tabindex="-1" id="modal{{ heating.id }}">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Supprimer un chauffage</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Souhaitez-vous vraiment supprimer ce chauffage ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Annuler</button>
                                <form action="{{ url('admin.heaters.delete', {'heating' : heating.id}) }}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="btn btn-danger btn-sm" href="">Supprimer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(heaters) }}

{% endblock %}
