{% extends 'base.html.twig' %}

{% block title %}Détails d'un bien!{% endblock %}

{% block body %}

    <h1><strong>Informations sur le bien : {{ property.title }}</strong></h1> <br>

    <div class="row">
        <div class="col-md-6">
            <img src="{{ vich_uploader_asset(property, 'pictureFile') }}" class="card-img-top img-fluid" alt="..." style="height: 510px;">
        </div>
        <div class="col-md-4">
            <h4><strong>{{ property.propertyType.name }} à vendre</strong></h4>
            <p class="card-text">
                <strong><span>{{ property.title }} à {{ property.city }}</span></strong> <br>
                <strong><span>Propriétaire : {{ property.user.email }}</span></strong>, <strong><span>Vendu : {{ property.sold == 1 ? 'Oui' : 'Non' }}</span></strong> <br>
                <span style="font-weight: bold; font-size: 1.8rem; color: #0d6efd;">{{ property.formattedPrice }}$</span>
            </p>
            <button 
                id="contactButton" type="submit" 
                class="btn btn-primary btn-sm mt-2 mb-3"
                {% if form.vars.submitted %}
                    style="display: none;"
                {% endif %}
            >
                Contacter l'agence
            </button>
            <form id="contactForm"
                {% if not form.vars.submitted %}
                    style="display: none;"
                {% endif %} 
                action="{{ url('properties.show', {'slug' : property.slug, 'property' : property.id}) }}" 
                method="POST"
            >
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col">{{ form_row(form.firstname) }}</div>
                        <div class="col">{{ form_row(form.lastname) }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(form.email) }}</div>
                        <div class="col">{{ form_row(form.phone) }}</div>
                    </div>
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            </form>

        </div>
    </div>

    <div class="row mt-3">
        <div>
            <p>
                <hr>
                {# <strong> {{ property.description|slice(0, 500) ~ (property.description|length > 100 ? '...' : '') }}</strong> #}
                <strong> {{ property.description }}</strong>
                <hr>
            </p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <h3>Caractéristiques du bien</h3>
            <table class="table table-striped">
                <tr>
                    <td>Surface habitable</td>
                    <td>{{ property.surface }}mètres carrés</td>
                </tr>
                <tr>
                    <td>Nombre de pièces</td>
                    <td>{{ property.rooms }}</td>
                </tr>
                <tr>
                    <td>Étages</td>
                    <td>{{ property.floor }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <h3>Spécificités</h3>
            <ul>
                {% for specificity in property.specificities %}
                    <li>{{ specificity.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Chauffages</h3>
            <ul>
                {% for heating in property.heaters %}
                    <li>{{ heating.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
